:root {
  --theme-blue: hsl(246, 80%, 60%);
  --theme-lightred: hsl(15, 100%, 70%);
  --theme-softblue: hsl(195, 74%, 62%);
  --theme-lightred-study: hsl(348, 100%, 68%);
  --theme-limegreen: hsl(145, 58%, 55%);
  --theme-violet: hsl(264, 64%, 52%);
  --theme-softorange: hsl(43, 84%, 65%);
  --theme-verydarkblue: hsl(226, 43%, 10%);
  --theme-darkblue: hsl(235, 46%, 20%);
  --theme-desaturatedblue: hsl(235, 45%, 61%);
  --theme-paleblue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  font-family: 'Rubik';
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: var(--theme-paleblue);
}

button {
  background-color: transparent;
  border: none;
}

.attribution {
  font-size: 11px;
  align-self: center;
}

.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

ol {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

ol button {
  padding: 22px;
  color: var(--theme-desaturatedblue);
  font-size: 18px;
  width: 100px;
  display: flex;
  justify-content: center;
}

button:hover {
  color: white;
}

button:hover svg {
  fill: white;
}

.control-active {
  color: white;
}

body {
  background-color: var(--theme-verydarkblue);
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 0px auto;
}

body > header {
  width: 335px;
  margin: 20px 20px 0px 20px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--theme-darkblue);
}

body > header img {
  width: 70px;
  border: solid 3px white;
  border-radius: 35px;
  margin-right: 20px;
}

p {
  font-size: 15px;
  font-weight: 300;
  color: var(--theme-paleblue);
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.profile-title {
  display: flex;
  align-items: center;
  background-color: var(--theme-blue);
  padding: 30px;
  border-radius: 20px;
}

section {
  margin: 25px 20px;
  border-radius: 20px;
  position: relative;   /* Stops the absolute positioned svg from overflowing */
  overflow: hidden;
}

section > svg {
  margin: -10px 0px 0px 211px;
  position: absolute;
}

#work {
  background-color: var(--theme-lightred);
}

#play {
  background-color: var(--theme-softblue);
}

#study {
  background-color: var(--theme-lightred-study);
}

#exercise {
  background-color: var(--theme-limegreen);
}

#social {
  background-color: var(--theme-violet);
}

#self-care {
  background-color: var(--theme-softorange);
}

.report-stats {
  margin-top: 40px;
  background-color: var(--theme-darkblue);
  padding: 25px 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.report-stats:hover {
  background-color: #34397B;
}

.report-stats > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
  fill: var(--theme-paleblue);
}

.stat {
  font-size: 32px;
  font-weight: 300;
  color: white;
}