:root {
  --theme-blue: hsl(246, 80%, 60%);
  --theme-lightred: hsl(15, 100%, 70%);
  --theme-softblue: hsl(195, 74%, 62%);
  --theme-lightred-study: hsl(348, 100%, 68%);
  --theme-limegreen: hsl(145, 58%, 55%);
  --theme-violet: hsl(264, 64%, 52%);
  --theme-softorange: hsl(43, 84%, 65%);
  --theme-verydarkblue: hsl(226, 43%, 10%);
  --theme-darkblue: hsl(235, 46%, 20%);
  --theme-desaturatedblue: hsl(235, 45%, 61%);
  --theme-paleblue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  font-family: 'Rubik';
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--theme-verydarkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#report {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 330px;
}

#report > header {
  background-color: var(--theme-darkblue);
}

#report > header img {
  width: 70px;
  border: solid 3px white;
  border-radius: 35px;
  margin-right: 20px;
}

#control {
  border-radius: 20px;
  overflow: hidden;
}

#control ol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container-stat > section {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 25px 0px;
  border-radius: 20px;
}

#container-stat > section > svg {
  position: absolute;
  margin: -10px 20px 0px 0px;
  align-self: flex-end;
}

.report-stats {
  background-color: var(--theme-darkblue);
  padding: 25px 25px;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.report-stats svg {
  fill: var(--theme-paleblue);
}

.report-stats:hover {
  background-color: #34397B;
}

.report-stats header {
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.stat-previous {
  color: var(--theme-paleblue);
}

button {
  background-color: transparent;
  border: none;
}

.attribution {
  font-size: 11px;
  align-self: center;
  color: var(--theme-desaturatedblue);
}

.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

ol button {
  padding: 22px;
  color: var(--theme-desaturatedblue);
  font-size: 18px;
  display: flex;
  justify-content: center;
}

button:hover {
  color: white;
  cursor: pointer;
}

button:hover svg {
  fill: white;
}

.control-active {
  color: white;
}

p {
  font-size: 15px;
  font-weight: 300;
  color: var(--theme-paleblue);
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: white;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.profile-title {
  background-color: var(--theme-blue);
  display: flex;
  align-items: center;
  padding: 30px 25px;
  border-radius: 20px;
}

#work {
  background-color: var(--theme-lightred);
}

#play {
  background-color: var(--theme-softblue);
}

#study {
  background-color: var(--theme-lightred-study);
}

#exercise {
  background-color: var(--theme-limegreen);
}

#social {
  background-color: var(--theme-violet);
}

#self-care {
  background-color: var(--theme-softorange);
}

.stat {
  font-size: 32px;
  font-weight: 300;
  color: white;
}

@media screen and (min-width: 600px) {
  #report {
    max-width: 1200px;
    width: unset;
  }

  #control {
    width: 255px;
    height: 520px;
    margin: 15px;
    flex-shrink: 0;
    position: fixed;
  }

  .profile-title {
    flex-direction: column;
    align-items: flex-start;
    height: 350px;
  }

  #report > header img {
    width: 80px;
    border-radius: 40px;
    margin-right: unset;
    margin-bottom: 40px;
  }

  #control ol {
    flex-direction: column;
    margin: 15px 20px;
  }

  ol button {
    justify-content: unset;
    padding: 10px;
    width: 100%;
  }

  .report-stats {
    margin-top: 45px;
    height: 200px;
  }

  .stats {
    flex-direction: column;
    align-items: flex-start;
  }

  .stat {
    font-size: 48px;
    margin: 20px 0px 15px;
  }

  #container-stat {
    display: flex;
    flex-wrap: wrap;
    margin-left: 290px;
  }

  #container-stat > section {
    margin: 15px;
    width: 255px;
  }

  h1 {
    font-size: 40px;
  }
}